<div class="mdl-cell mdl-cell--4-col">
  <ol id="savedBurgers" class="demo-list-item mdl-list">
    {{#each burgers}}
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        {{this}}
      </span>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Button
      </button>
    </li>
    {{/each}}
  </ol>
</div>
 <div class="mdl-cell mdl-cell--4-col">
   <form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <textarea id="burgerInput" class="mdl-textfield__input" type="text" rows= "3" ></textarea>
    <label class="mdl-textfield__label" for="sample5">Text lines...</label>
  </div>
</form>
  <button id="addBurger" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    Button
  </button>
 </div>
 <div class="mdl-cell mdl-cell--4-col">
   <ol id="eatenBurgers" class="demo-list-item mdl-list">
     {{#each burgers}}
     <li class="mdl-list__item">
       <span class="mdl-list__item-primary-content">
         {{this}}
       </span>
       <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
         Button
       </button>
     </li>
     {{/each}}
   </ol>
 </div>
